<p>
  <b>Original Text:</b>
  <%= @tasks.content %>
</p>
<p>
  <b>Translated text:</b>
  <%= @tasks.translated_text %>
</p>
<p>
  <b>Reward:</b>
  <%= @tasks.reward %>
</p>


<%= link_to 'Edit', edit_task_path(@tasks) %> |
<%= link_to 'Back', tasks_path %>
