<%= form_for(@work) do |f| %>
<% if @work.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

  <ul>
    <% @work.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div id ="form">
  <% languages = ["English", "Nepali", "French"]  %>
  <div class="field" style="float:left">
    <%= f.label :from %><br />
    <%= select( "work", "from", languages, {:prompt => true}) %>
  </div>
  <div class="field" style="float:right">
    <%= f.label :to %><br />
    <%= select( "work", "to", languages, {:prompt => true}) %>
  </div>
  <div class="field" style = "clear:both">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :reward %><br />
    <%= f.text_field :reward %>
  </div>
  <div class="field">
    <%= f.label :additional_info %><br />
    <%= f.text_area :additional_info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>

