<%= link_to 'Submit New ', new_work_path %>
<h1>Submitted works</h1>
<table id ="Worklist" >
  <tr>
    <th>Content</th>
    <th>From</th>
    <th>To</th>
    <th>Reward</th>
    <th>Additional info</th>
    <th></th>
    <th></th>
  </tr>
<% @works.each do |work| %>
  <tr>
    <td width =380px class="justify"><%= work.content.truncate(200) %></td>
    <td><%= work.from %></td>
    <td><%= work.to %></td>
    <td><%= work.reward %></td>
    <td width =180px class="justify"><%= work.additional_info %></td>
    <td><%= link_to 'Details', work %></td>
    <td><%= link_to 'Delete', work, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @work%>
<br />


