<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @work.content %>
</p>

<p>
  <b>From:</b>
  <%= @work.from %>
</p>

<p>
  <b>To:</b>
  <%= @work.to %>
</p>

<p>
  <b>Reward:</b>
  <%= @work.reward %>
</p>

<p>
  <b>Additional info:</b>
  <%= @work.additional_info %>
</p>

<p>
  <b>Translated text:</b>
  <%= @work.translated_text %>
</p>

<table id="translation_client_view">
  <tr>
    <th width= 350px>Content</th>
    <th width= 350px>Translation</th>
  </tr>

  <% @work.tasks.each do |task| %>
  <!-- <%# if (task.Approved != true && !task.translated_text.nil?)%>    -->
  <tr>
    <td><%= task.content %></td>
    <td><%= task.translated_text %></td>
    <td><%= link_to 'Approve',   task_status_path(task,"Approved") %></td>
    <td><%= link_to 'Reject',   task_status_path(task,0) %></td>
  </tr>
  <% #end %>
  <% end %>

</table>
<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
