<header>
  <hgroup>
      <a href="#" title="Cloud Translation"><img src="../images/logo.gif" alt="Cloud Translation" /></a>
      <h1>Cloud Translation</h1>
      <h2>Most Reliable translation</h2>
  </hgroup>
<div id ="top_bar">
<% if client_signed_in?%>
<%= link_to "Home", root_path %>
<span id = "welcome_message">Welcome <%=current_client.email%></span>
 <%= link_to "Sign Out", destroy_client_session_path, method: :delete %>
<% else %>
<%= link_to "Sign in", new_client_session_path %>
<%= link_to "Sign Up", new_client_registration_path %>
<% end %>
</div>

</header>
